.previewCard{
  max-width: 600px;
  max-height: 400px;
  img{
    width: 100%;
  }
  text-align: center;
  .title{
    font-family: Museo Sans,sans-serif;
    font-size: 20px;
    margin-bottom: 7px;

  }
  .data{
    color: #929292;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .previewCard {
    max-width: 100%;
    max-height: 90vh;
  }
}
