<header class="home-header">
  <div class="logo"><img src="assets/test.png"/> </div>
  <div class="photograph_name">Екатерина Сиюкина</div>
  <div class="contacts">
<a href="tel:89183445188">89183445188</a>
<a href="mailro:emeil@mail.ru">emeil@mail.ru</a>
<a href="https://test-domain.ru/">test-domain.ru</a>
  </div>
  <div class="social">
    <ul>
      <li><a><img src="assets/insta.svg"/></a></li>
      <li><a><img src="assets/vk.svg"/></a></li>
      <li><a><img src="assets/telegram.svg"/></a></li>
    </ul>
  </div>

</header>
